<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Fasting</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Fast</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Baloo2-SemiBold.ttf</string>
		<string>Baloo2-Bold.ttf</string>
		<string>Baloo2-ExtraBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
